.game-container {
  text-align: center;
  padding: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.immagine-pianeti {
  max-width: 1000px; /* imposta tu la dimensione che preferisci */
  width: 100%;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 8px;
}


.feedback {
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: bold;
  color: darkgreen;
}

.dropdown-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.game-wrapper {
  display: flex;
  align-items: flex-start; /* allinea in alto */
  gap: 70px; /* spazio tra immagine e dropdown */
}

.dropdown-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px; 
}

.dropdown-wrapper select {
  padding: 8px 12px;
  font-size: 1rem;
  border: 2px solid #4caf50;
  border-radius: 8px;
  background-color: #f0f8ff;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dropdown-wrapper select:hover {
  border-color: #45a049;
  background-color: #e6f7ff;
}

.dropdown-wrapper label {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 1.1rem;
  color: #4caf50;
}
