<div class="home-container">
  <h1>🎉 Benvenuti ai Giochi!</h1>
  <p>Scegli un gioco per iniziare:</p>

  <button routerLink="/gioco1">Scrivi il tuo nome</button>
  <button routerLink="/flower-game">Colora i fiori</button>
  <button routerLink="/color-game" class="nav-button">Crea i colori</button>
  <button routerLink="/mesi-game" class="nav-button">Gioca con i mesi</button>
  <button routerLink="/pianeti-parte1-video-game" class="nav-button">Gioca con i pianeti</button>
  <button routerLink="/number-game" class="nav-button">Gioca con i numeri</button>
  <button routerLink="/indovina-prima-lettera-game" class="nav-button">Gioca con le lettere</button>
    
</div>



