.home-container {
  text-align: center;
  margin-top: 50px;
}

button {
  font-size: 1.5rem;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 12px;
  background-color: #ffd966;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #f4b400;
  color: white;
}
